body {
    margin: 0px;
    background-color: rgb(211, 26, 66);
    font-family: 'Playfair Display', serif;
}

#card {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#card-content {
    background: white;
    padding: 100px 70px;
    border-radius: 5px;
    box-shadow: 1px 3px 4px black;
}

#card-title {
    text-align: center;
    text-transform: uppercase;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.form-item {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

#user-email-label,
#user-senha-label {
    padding-left: 2px;
    padding-bottom: 2px;
}

#user-password{
    color: black;
}

.form-content {
    margin-top: 10px;
    padding:0 5px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid rgb(211, 26, 66);
    outline: none;
    color: #fff;
}

#forgot-pass {
    display: flex;
    justify-content: end;
    padding-bottom: 35px;
}

#submit-btn {
    border-radius: 10px;
    border: none;
    background-color: rgb(211, 26, 66);
    color: white;
    box-shadow: 3px 3px 3px 3px rgb(211, 26, 66);
    padding: 8px 0px;
    margin-bottom: 10px;
}

#submit-btn:hover {
    background-color: rgb(123, 4, 30);
    box-shadow: 3px 3px 3px 3px rgb(123, 4, 30);
    cursor: pointer;
}

a {
   text-decoration-line: none; 
}